extends layout

block content
  a(href="/") Home
  h1= title
  h2 Welcome to #{title}
  p Sell Img1 by TestUser
  img(src="/images/img1.jpg", alt="img", class="sell-image")
  p Set Price ($)
    input(type="number")
  P Reduce Inventory By
    input(type="number")
  P Increase Inventory By
    input(type="number")
  p Current Price:$ #{image.price/1000} 
  p Current Quantity: #{image.quantity}
  button Save
  p Details saved successfully
